{% extends 'dav_app/base.html' %}
{% load static %}

{% block title %} 
	Vikas-admission
{% endblock %}

{% block content %}
<br>
<div class="card">
<div style="background: #b4deb6">
  <h5 class="card-header">Admission Procedure</h5>
</div>
<div class="card-body" style="background: #ebead8;">
	<h5 class="card-title text-danger">Eligibilty</h5>
    <p class="card-text">New Admission is taken generally for Entry Level & Class XI. In case of other classes, new admission will be considered only if vacancy exists.
	Age eligibility:    As per CBSE norms.</p>
	<h5 class="card-title text-danger">Procedure</h5>
	<p class="card-text">
	Registration – A duly filled form available from the school/website is to be submitted with the non-refundable, non-transferable Registration Fee within 7 days from the date of issue of form or the last date given.
	A copy of birth certificate must be attached with the registration form.
	Students who have attended other schools need to submit a photocopy of the report card of the last year from the previous school along with transfer certificate.
	Photocopies of Mark Sheet, Migration certificate from the respective Board. (For Class XI)
	Admission Test for Class XI– The candidates who have registered for admission into Class XI will have to appear for an admission test  which may be written or oral as laid down by the School for different subjects. The test will be held for English, Physics, Chemistry, Mathematics/Biology and/or any other subject which may be considered necessary.</p>
</div>
</div>
<br>

<div class="row">
<div class="col-sm-6">
	<div class="card">
		<div style="background: #e673dc">
		  	<h5 class="card-header">Fee Collection Rules</h5>
		</div>
		<div class="card-body" style="background: #f2d0a2">
			<p class="card-text">
				1. The Fee Collection Hours are as follows:<br>
          		   Monday – Friday   08:00 AM To 12:00 Noon<br>
				2. Last date for acceptance of School fees is 10th of the month without fine.<br>
				3. Late fee deposit fine of Rs. 20.00 will be charged up to 20th of the month.<br>
				4. Fee will not be accepted after 20th of the month.<br>
				5. Arrears of the fee of a month must be deposited by the 5th of the next month with a fine of Rs. 50/-<br>
				6. Name of the defaulter will be struck off the rolls after non payment of the fee for two months without any intimation.<br>
				7. Re-Admission may be accepted on payment of Rs. 250/- as Admission fee along with the permission of the Principal.<br>
				8. Payment of Fees in advance on a quarterly, half yearly and annual basis is also accepted.<br>
				9. For Class X and XII School fees up to March have to be deposited by December so as to get the No Dues certificate.<br> 
			</p>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<div class="card">
		<div style="background: #3dd4c5">
		  	<h5 class="card-header">Admission Contacts</h5>
		</div>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>State</th>
					<th>Counsellor No.</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bihar</td>
					<td>8099938903</td>
				</tr>
				<tr>
					<td>Jharkhand</td>
					<td>8099938904</td>
				</tr>
				<tr>
					<td>Chattisgarh & MP</td>
					<td>9346770928</td>
				</tr>
				<tr>
					<td>Odisha</td>
					<td>9397308106</td>
				</tr>
				<tr>
					<td>North East</td>
					<td>7337334586</td>
				</tr>
				<tr>
					<td>West Bengal</td>
					<td>8099938901</td>
				</tr>
				<tr>
					<td>Other States</td>
					<td>8978411066</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>

<br>

{% endblock %}