{% extends 'dav_app/base.html' %}
{% load static %}

{% block title %} 
	Study Material
{% endblock %}

{% block content %}
<br>
<div class="row row-cols-1 row-cols-md-4">
  	<div class="col mb-4">
  	<div class="card">
  		<img src="{% static 'img/ch_12.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
  		<a href="http://ncert.nic.in/textbook/pdf/lech1dd.zip">
    	<h5 class="card-title">Chemistry 12</h5>
    	</a>
  		</div>
	</div>
	</div>
	<div class="col mb-4">
	<div class="card">
  		<img src="{% static 'img/ch_11.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
    	<a href="http://ncert.nic.in/textbook/pdf/kech1dd.zip">
    	<h5 class="card-title">Chemistry 11</h5>
    	</a>
  		</div>
	</div>
	</div>
	<div class="col mb-4">
	<div class="card">
  		<img src="{% static 'img/ma_12.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
    	<a href="http://ncert.nic.in/textbook/pdf/lemh1dd.zip">
    	<h5 class="card-title">Mathematics 12</h5>
    	</a>
  		</div>
	</div>
	</div>
	<div class="col mb-4">
	<div class="card">
  		<img src="{% static 'img/ma_11.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
    	<a href="http://ncert.nic.in/textbook/pdf/kemh1dd.zip">
    	<h5 class="card-title">Mathematics 11</h5>
    	</a>
  		</div>
	</div>
	</div>
	<div class="col mb-4">
	<div class="card">
  		<img src="{% static 'img/ma_10.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
    	<a href="http://ncert.nic.in/textbook/pdf/jemh1dd.zip">
    	<h5 class="card-title">Mathematics 10</h5>
    	</a>
  		</div>
	</div>
	</div>
	<div class="col mb-4">
	<div class="card">
  		<img src="{% static 'img/sc_10.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
    	<a href="http://ncert.nic.in/textbook/pdf/lech1dd.zip">
    	<h5 class="card-title">Science 10</h5>
    	</a>
  		</div>
	</div>
	</div>
	<div class="col mb-4">
	<div class="card">
  		<img src="{% static 'img/eco_10.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
    	<a href="http://ncert.nic.in/textbook/pdf/lech1dd.zip">
    	<h5 class="card-title">Economics 10</h5>
    	</a>
  		</div>
	</div>
	</div>
	<div class="col mb-4">
	<div class="card">
  		<img src="{% static 'img/bio_12.jpg' %}" class="card-img-top" height="300">
  		<div class="card-body">
    	<a href="http://ncert.nic.in/textbook/pdf/lech1dd.zip">
    	<h5 class="card-title">Biology 12</h5>
    	</a>
  		</div>
	</div>
	</div>
</div>


{% endblock %}